html {
  box-sizing: border-box;
  min-width: 360px;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-s);
  margin: 0;
  padding: 0;

  color: var(--dark);
  background-color: var(--light);
}
