:root {
  // accent
  --accent-500: #ff7700;

  // success
  --success-500: #2fb675;

  // info
  --info-500: #09f;

  // light
  --light: #ffffff;
  --light-100: rgba(255, 255, 255, 0.12);
  --light-400: rgba(131, 102, 86, 0.2);
  --light-500: rgba(131, 102, 86, 0.12);

  // dark
  --dark: #000000;
  --dark-500: #2e2f33;
}
