:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 20px;
  --line-height-m: 24px;

  // font sizes
  --font-size-0: 0;
  --font-size-xs: 8px;
  --font-size-s: 10px;
  --font-size-m: 12px;
  --font-size-l: 17px;

  // font weights
  --font-weight-500: 500;
}
